name: 01. Deploy to Production

permissions:
  id-token: write
  contents: read

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  deploy-production:
    name: Deploy to production
    concurrency:
      group: production_environment
      cancel-in-progress: true
    runs-on: ubuntu-latest
    environment:
      name: production
      url: https://jetrockets.com
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.workflow_run.head_branch }}

      - uses: ./.github/workflows/setup
        name: Setup
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Kamal Deploy
        uses: igor-alexandrov/kamal-deploy@v0.1.3
        with:
          registry-username: ${{ secrets.DIGITAL_OCEAN_ACCESS_TOKEN }}
          registry-password: ${{ secrets.DIGITAL_OCEAN_ACCESS_TOKEN }}
          environment: production
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
          REDIS_URL: ${{ secrets.REDIS_URL }}
          RAILS_MASTER_KEY: ${{ secrets.RAILS_MASTER_KEY }}
          PGHERO_USERNAME: ${{ secrets.PGHERO_USERNAME }}
          PGHERO_PASSWORD: ${{ secrets.PGHERO_PASSWORD }}